body {
  font-family: Arial;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.card {
  padding: 10px;
  border: 1px solid #aaa;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  table {
    font-size: 14px;
  }
  input, button {
    font-size: 14px;
  }
}
