body {
  font-family: Arial;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  table {
    font-size: 14px;
  }
  input, button {
    font-size: 14px;
  }
}
